.overlay {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--overlay-color);
	z-index: 10;
}

.modal {
	display: flex;
	width: 100%;
	position: fixed;
	inset: 0;
	overflow-y: auto;
	background-color: var(--modal-background);
}

@media screen and (min-width: 768px) {
	.modal {
		position: relative;
		width: auto;
		height: auto;
		border-radius: var(--modal-border-radius);
		border: 2px solid black;
	}
}

.close {
	position: absolute;
	top: 0.35rem;
	right: 0.35rem;
}
