.card {
	position: relative;
	display: flex;
	column-gap: 0.5rem;
	padding: 0.8rem;
	background-color: var(--item-color);
	border-radius: var(--item-border-radius);
	border: 1px solid black;
}

.card:hover {
	background-color: var(--item-color-hover);
}

.image {
	width: 6rem;
	font-size: var(--text-sm);
	object-fit: scale-down;
	background-color: white;
	border-radius: 0.5rem;
	border: 1px solid black;
	padding: 1.4rem;
}

.card__info {
	display: flex;
	flex-direction: column;
	row-gap: 0.2rem;
	width: 100%;
	padding: 0.5rem;
	color: var(--item-color-text);
	overflow: hidden;
}

.name,
.level,
.course,
.date {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* line-height: normal; */
}

.name {
	color: var(--text-color);
	font-size: var(--text);
	font-weight: bold;
}

.level,
.course,
.date {
	color: var(--text-color);
	font-size: var(--text-sm);
}

.date {
	opacity: 0.7;
}
