.wrapper {
	perspective: 1000px;
}

.card {
	position: relative;
	height: 8rem;
	width: 8rem;
	transform-style: preserve-3d;
	transform-origin: center;
	transition: transform 0.3s ease-in;
}

.flipped {
	transform: rotateY(180deg);
}

@media screen and (min-width: 768px) {
	.card {
		height: 12rem;
		width: 12rem;
	}
}

.front,
.back {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.5rem;
	padding: 0.5rem;
	border-radius: var(--card-border-radius);
	backface-visibility: hidden;
}

.front {
	transform: rotateY(180deg);
	background-color: var(--card-color-front);
	border: 3px solid var(--card-border-color-front);
}

.back {
	cursor: pointer;
	background-color: var(--card-color-back);
	border: 3px solid var(--card-border-color-back);
}

.resolved {
	background-color: var(--card-color-resolved);
	border: 3px solid var(--card-border-color-resolved);
}

.finish {
	background-color: var(--card-color-finished);
	border: 3px solid var(--card-border-color-finished);
}

.back:hover {
	background-color: var(--card-color-hover);
}

.text {
	color: var(--text-color);
	font-weight: bold;
	text-align: center;
	font-size: var(--text-sm);
}

.image {
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 1.2rem;
	background-color: white;
	overflow: hidden;
}

.index {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	background-color: var(--card-color-item);
	border-radius: 50%;
	border: 1px solid black;
}

@media screen and (min-width: 768px) {
	.index {
		width: 3rem;
		height: 3rem;
	}
}

.text {
	font-size: var(--text);
}

@media screen and (min-width: 768px) {
	.index {
		font-size: var(--text-sm);
	}
}
