.button {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 0.5rem;
	height: 2.5rem;
	padding: 0 1.5rem;
	border-radius: var(--btn-border-radius);
	font-weight: bold;
	line-height: normal;
	border: 1px solid black;
	box-shadow: var(--btn-color-shadow) 3px 3px 0 0;
	width: 100%;
	white-space: nowrap;
	transition: transform;
	text-decoration: none;
	font-size: var(--text);
}

.button:hover {
	background-color: #fff;
}

.button:active {
	box-shadow: #422800 1.5px 1.5px 0 0;
	transform: translate(1.5px, 1.5px);
}

.button:disabled {
	color: var(--btn-color-disabled);
	background-color: var(--btn-color-background-disabled);
	border-color: var(--btn-color-border-disabled);
	pointer-events: none;
}

.primary {
	color: var(--btn-text-color-primary);
	background-color: var(--btn-color-primary);
}

.primary:hover {
	background-color: var(--btn-color-primary-hover);
}

.secondary {
	color: var(--btn-text-color-secondary);
	background-color: var(--btn-color-secondary);
}

.secondary:hover {
	background-color: var(--btn-color-secondary-hover);
}
