.card {
	position: relative;
	display: flex;
	column-gap: 0.5rem;
	padding: 0.8rem;
	background-color: var(--item-color);
	border-radius: var(--item-border-radius);
	border: 1px solid black;
	outline: 1px solid black;
	outline-offset: -6px;
}

.card:hover {
	background-color: var(--item-color-hover);
}

.card__info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 0.3rem;
	width: 100%;
	padding: 0.5rem;
	color: var(--item-color-text);
	overflow: hidden;
}

.title {
	color: var(--text-color);
	font-size: var(--title-4);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.type {
	font-weight: bold;
}

.user {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: var(--text-sm);
	opacity: 0.8;
}

.date {
	font-size: var(--text-sm);
}

.image {
	width: 6rem;
	object-fit: scale-down;
	background-color: white;
	border-radius: 0.5rem;
	border: 1px solid black;
	padding: 0.5rem;
}
