.card {
	position: relative;
	display: flex;
	column-gap: 0.5rem;
	padding: 0.8rem;
	background-color: var(--item-color);
	border-radius: var(--item-border-radius);
	border: 1px solid black;
}

.card:hover {
	background-color: var(--item-color-hover);
}

.card__info {
	display: flex;
	flex-direction: column;
	row-gap: 0.15rem;
	width: 100%;
	padding: 0.5rem;
	color: var(--item-color-text);
	overflow: hidden;
}

.title,
.type,
.date,
.group {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: normal;
}

.title {
	color: var(--text-color);
	font-size: var(--text);
}

.type {
	font-weight: bold;
	font-size: var(--text-sm);
}

.date {
	font-size: var(--text-sm);
	opacity: 0.7;
}

.group {
	font-weight: bold;
	font-size: var(--text-sm);
	opacity: 0.6;
}

.image {
	font-size: var(--text-sm);
	width: 6rem;
	object-fit: scale-down;
	background-color: white;
	border-radius: 0.5rem;
	border: 1px solid black;
	padding: 0.5rem;
}
