.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;

	padding: 1rem 1.2rem;
	background-color: #9ea1d4;
	border-radius: var(--item-border-radius);
	border: 1px solid black;
}

@media screen and (min-width: 800px) {
	.container {
		row-gap: 1rem;
		padding: 2rem 3.5rem;
	}
}

.title {
	margin: 0;
	color: var(--text-color);
	font-size: var(--title-2);
}

.games__header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	row-gap: 1rem;
}

@media screen and (min-width: 800px) {
	.games__header {
		flex-direction: row;
		column-gap: 2.5rem;
	}
}

.games__list {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.icon {
	width: 1.4rem;
	height: 1.4rem;
}
