.container {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.title {
	text-align: center;
	color: var(--text-color);
	font-size: var(--title-2);
}

.title {
	color: var(--text-color);
	font-size: var(--title-2);
}
