@import './normalize.css';
@import './fonts.css';
@import './theme.css';

* {
	box-sizing: border-box;
}

body {
	color: var(--secondary-color);
	background-color: var(--bg-color);
}

img {
	max-width: 100%;
	display: block;
}
