:root {
	/* MAIN */
	--bg-color: #e3f7b5;
	--bg-header-color: rgb(97, 192, 191);
	--primary-color: #fd8a8a;
	--secondary-color: #f1f7b5;
	--text-color: black;

	/* LINK */
	--link-text-color: white;
	--link-border-color-hover: black;
	--link-color-hover: white;
	--link-active-border-color-hover: white;
	--link-active-color-hover: #9ea1d4;

	/* USER PANEL */
	--user-panel-bg: #9ea1d4;
	--user-panel-bg-hover: #b7baf1;
	--user-panel-border-radius: 0.6rem;
	--user-panel-border-color: black;
	--user-panel-border-color-hover: white;

	--user-panel-dropdown-bg: #b7baf1;
	--user-panel-dropdown-border-radius: 0.6rem;
	--user-panel-dropdown-item-border-radius: 0.6rem;
	--user-panel-dropdown-item-border-color: black;
	--user-panel-dropdown-item-hover: #9ea1d4;

	/* CARDS */
	--card-color-front: #ffdca9;
	--card-border-color-front: #faab78;
	--card-color-resolved: #fd8a8a;
	--card-border-color-resolved: #fd6767;
	--card-color-back: #9ea1d4;
	--card-border-color-back: rgb(75, 110, 156);
	--card-color-hover: #a8d1d1;
	--card-color-item: white;
	--card-color-item-text: #47b8da;
	--card-border-radius: 1.5rem;

	/* LETTERS */
	--letter-color: #ffdca9;
	--letter-border-color: #faab78;
	--letter-color-hover: #fff5e6;
	--letter-pressed: darkgrey;
	--letter-border-color-pressed: rgb(95, 94, 94);
	--letter-resolved: #76da8f;
	--letter-border-color-resolved: rgb(75, 156, 86);
	--letter-color-hidden: #fd8a8a;
	--letter-border-color-hidden: #fd6767;
	--letter-border-radius: 1.2rem;

	/* DROPDOWN*/
	--border-radius-items: 0.3rem;
	--border-radius-nav-item: 0.2rem;
	--dropdown-bg: #a8d1d1;
	--dropdown-border-radius: 0.6rem;
	--dropdown-item-radius: 0.6rem;
	--dropdown-item-hover: #9ea1d4;

	/* BUTTONS */
	/* Primary */
	--btn-color-primary: #fd8a8a;
	--btn-color-primary-hover: rgb(250, 194, 171);
	--btn-text-color-primary: black;
	--btn-border-radius: 1.5rem;
	--btn-color-shadow: #573030;

	/* Secondary */
	--btn-color-secondary: #9ea1d4;
	--btn-color-secondary-hover: #cbcdf8;
	--btn-text-color-secondary: black;

	/* Disabled */
	--btn-color-disabled: darkgrey;
	--btn-color-background-disabled: rgb(95, 94, 94);
	--btn-color-border-disabled: darkgrey;

	/* MODAL */
	--modal-background: #a8d1d1;
	--modal-border-radius: 1rem;
	--overlay-color: rgba(31, 30, 30, 0.75);

	/* LISTS */
	--item-color: #fd8a8a;
	--item-color-hover: rgb(250, 194, 171);
	--item-color-text: black;
	--item-border-radius: 1rem;

	/* FORMS */
	/* Inputs */
	--border-weight: 1px;
	--border-radius-input: 1.5rem;
	--border-color: black;
	--label-color: black;
	--input-color: white;
	--placeholder-opacity: 0.4;
	--input-text-color: black;
	--input-focus-color: black;
	--input-color-error: tomato;
	--input-color-disabled: rgb(245, 224, 192);
	--shadow-sm: 0px;
}
