:root {
	/* MAIN */
	--bg-color: #e3f7b5;
	--primary-color: #fd8a8a;
	--secondary-color: #f1f7b5;
	--text-color: black;

	/* CARDS */
	--card-color-front: #ffdca9;
	--card-border-color-front: #faab78;
	--card-color-resolved: #fd8a8a;
	--card-border-color-resolved: #fd6767;
	--card-color-back: #9ea1d4;
	--card-border-color-back: rgb(75, 110, 156);
	--card-color-hover: #a8d1d1;
	--card-color-item: white;
	--card-color-item-text: #47b8da;

	/* BUTTONS */
	/* Primary */
	--btn-color-primary: #fd8a8a;
	--btn-color-primary-hover: rgb(250, 194, 171);
	--btn-text-color-primary: black;

	/* Secondary */
	--btn-color-secondary: #9ea1d4;
	--btn-color-secondary-hover: #c0c3f5;
	--btn-text-color-secondary: black;

	/* Disabled */
	--btn-color-disabled: darkgrey;
	--btn-color-background-disabled: rgb(77, 75, 75);
	--btn-color-border-disabled: darkgrey;

	/* MODAL */
	--modal-background: #a8d1d1;
	--modal-border-radius: 0.3rem;
	--overlay-color: rgba(31, 30, 30, 0.75);

	/* LISTS */
	--item-color: #fd8a8a;
	--item-color-hover: #a8d1d1;
	--item-color-text: black;
	--item-border-radius: 0.3rem;

	/* FORMS */
	/* Inputs */
	--border-weight: 1px;
	--border-radius-input: 4px;
	--label-color: black;
	--input-color: white;
	--placeholder-opacity: 0.4;
	--input-text-color: black;
	--input-focus-color: black;
}
