.header {
	position: relative;
	top: 0;
	display: flex;
	justify-content: space-between;
	column-gap: 2rem;
	padding: 0.3rem 1rem;
	background-color: var(--bg-header-color);
	/* border-top: 2px solid black; */
	border-bottom: 1px solid black;
}

@media screen and (min-width: 800px) {
	.header {
		justify-content: flex-end;
	}
}
