.card {
	--card-color: var(--card-color-back);
	--card-border-color: var(--card-border-color-back);
	height: 12rem;
	border-radius: 0.5rem;
	background-color: var(--card-color);
	border: 3px solid var(--card-border-color);
	transform-style: preserve-3d;
	transform-origin: center;
	transition: transform 0.5s ease-out;
}

.flipped {
	transform: rotateY(-180deg);
	--card-color: var(--card-color-front);
	--card-border-color: var(--card-border-color-front);
}

.card__front,
.card__back {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.5rem;
	padding: 0.5rem;
	backface-visibility: hidden;
}

.card__back {
	cursor: pointer;
}

.inactive {
	opacity: 0.3;
}

.card:hover:has(.card__back) {
	--card-color: var(--card-color-hover);
}

.text {
	color: var(--text-color);
	font-weight: bold;
}

.image {
	max-width: 8rem;
	height: 100%;
	object-fit: contain;
	border: 1px solid black;
	background-color: white;
}

.index {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background-color: var(--card-color-item);
	border-radius: 50%;
	font-size: var(--title-3);
	border: 1px solid black;
}
