.wrapper {
	perspective: 1000px;
}

.card {
	position: relative;
	height: 12rem;
	border-radius: 0.5rem;
	box-shadow: var(--card-color-shadow) 1px 1px 0px;
	transform-style: preserve-3d;
	transform-origin: center;
	transition: transform 0.3s ease-in;
}

.flipped {
	transform: rotateY(180deg);
}

.front,
.back {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	backface-visibility: hidden;
}

.front {
	transform: rotateY(180deg);
	background-color: var(--card-color-front);
	border: 3px solid var(--card-border-color-front);
}

.back {
	cursor: pointer;
	background-color: var(--card-color-back);
	border: 3px solid var(--card-border-color-back);
}

.resolved {
	background-color: var(--card-color-resolved);
	border: 5px solid var(--card-border-color-resolved);
}

.back:hover {
	background-color: var(--card-color-hover);
}

.text {
	color: var(--text-color);
	font-weight: bold;
}

.image {
	max-width: 8rem;
	height: 100%;
	object-fit: contain;
	border: 1px solid black;
	background-color: white;
}

.index {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	background-color: var(--card-color-item);
	border-radius: 50%;
	font-size: var(--title-3);
	border: 1px solid black;
}
