.stats {
	text-align: center;
}

.cards {
	margin: 0;
	padding: 1rem 2rem;
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2rem;
	/* perspective: 1500px; */
}

.text {
	color: var(--text-color);
	font-size: var(--title-3);
}

.actions {
	text-align: center;
	margin-top: 1rem;
}
