.wrapper {
	width: 12rem;
	height: 8rem;
	padding: 0.4rem;
	border: 1px solid black;
	border-radius: 1rem;
	background-color: white;
	overflow: hidden;
}

.image {
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 0.8rem;
}

.borderError {
	border: 2px solid var(--input-color-error);
}

.error {
	display: block;
	margin: auto;
	font-size: var(--text-sm);
	border: 1px solid red;
	color: var(--input-color-error);
}
