.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2.5rem;
	column-gap: 1rem;
}

.fail__icon {
	width: 1.5rem;
	color: tomato;
}

.try__icon {
	width: 1.5rem;
	color: green;
}
