.card {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 4rem;
	height: 4rem;
	border-radius: var(--letter-border-radius);
	border: 2px solid var(--letter-border-color);
	background-color: var(--letter-color);
}

@media screen and (min-width: 768px) {
	.card {
		width: 6rem;
		height: 6rem;
	}
}

.card:hover:not(.pressed, .resolved, .lose) {
	background-color: var(--letter-color-hover);
}

.pressed {
	background-color: var(--letter-pressed);
	border: 2px solid var(--letter-border-color-pressed);
	opacity: 0.4;
}

.resolved {
	background-color: var(--letter-resolved);
	border: 2px solid var(--letter-border-color-resolved);
}

.lose {
	background-color: var(--letter-lose);
	border: 2px solid var(--letter-border-color-lose);
}

.letter {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: var(--title-3);
}

@media screen and (min-width: 768px) {
	.letter {
		font-size: var(--title-2);
	}
}

.letter--hidden {
	visibility: hidden;
}
