.word {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	row-gap: 0.4rem;
	column-gap: 0.3rem;
}

.card {
	perspective: 1000px;
	position: relative;
	width: 4rem;
	height: 4rem;
	transform-style: preserve-3d;
	transform-origin: center;
	transition: transform 0.3s ease-in;
}

@media screen and (min-width: 768px) {
	.card {
		width: 6rem;
		height: 6rem;
	}
}

.card__resolved {
	transform: rotateY(180deg);
	transition: none; /* avoid showing resolved letter in next word */
}

.card__shown {
	margin: auto;
	border-radius: var(--letter-border-radius);
}

.front,
.back {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: var(--letter-border-radius);
	border: 2px solid var(--letter-border-color);
	background-color: var(--letter-color);
}

.front {
	border-radius: var(--letter-border-radius);
}

.back {
	border: 2px solid var(--letter-border-color-hidden);
	background-color: var(--letter-color-hidden);
	transform: rotateY(180deg);
	backface-visibility: hidden;
}

.winner {
	background-color: var(--letter-resolved);
	border: 3px solid var(--letter-border-color-resolved);
}

.loser {
	background-color: var(--letter-lose);
	border: 3px solid var(--letter-border-color-lose);
}

.letter {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-size: var(--title-3);
}

@media screen and (min-width: 768px) {
	.letter {
		font-size: var(--title-2);
	}
}
