.error {
	display: flex;
	justify-content: center;
	column-gap: 0.3rem;
	min-height: 1.2rem;
	font-size: var(--text-sm);
	font-weight: bold;
	margin: 0rem;
	padding: 0.3rem;
	border-radius: 1rem;
	border: 1px solid tomato;
	color: tomato;
	background-color: lightpink;
}

.icon {
	height: 1rem;
	vertical-align: middle;
}
